body{
    background-color: #f7f6f6;
}

.logo {
    max-width: 250px;
    height: auto;
}

.navbar, .red{
    background-color: #b70f0a;
}

.nav-search{
    max-width: 500px;
    height: auto;
    margin-left: 200px;
}

.nav-item{
    font-size: 1.1em;
    margin-left: 50px;
}

.navbar-nav .nav-item .nav-link:hover{
    color: white;
}

.search-btn{
    background-color: #f7f6f6;
}

.search-btn:hover{
    background-color: #d6d6d6;
}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.carousel-caption > h3{
    font-size: 3em;
    color:white;
}
.carousel-caption > p{
    font-size: 1.5em;
}
#carousel-1{
    background-image: url('../img/project.jpg');
}

#carousel-2{
    background-image: url('../img/support.jpg');
}

#carousel-3{
    background-image: url('../img/work.jpg');
}

a, a:hover{
    color: #b70f0a;
}

.alert{
    text-align: center;
}

.project-thumb, .arrows, .insert{
    width: 100%;
}

footer{
    color: black;
    font-size: 1.1em;
}

h1, h2, h3, h4{
    color: #b70f0a;
}

.col-md-4 > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

small{
    color: black;
    font-size: 0.7em;
}

.mt-3 > .btn{
    font-size: 1.2em;
}

.arrows span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.arrows span:after {
    content: '\00bb';
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.arrows:hover span{
    padding-right: 20px;
}

.arrows:hover span:after {
    opacity: 1;
    right: 0;
}

.navbar{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.col-lg-2, .col-lg-4 > img{
    max-width: 250px;
}

input[name="candidati"]{
    margin-bottom: 5px;
    width: inherit;
}

td .form-control[type="number"]{
    width: 100px;
}

td strong{
    color: #b70f0a;
}

.spinner-border{
    color: #b70f0a;
    width: 3rem;
    height: 3rem;
}

.hidden{
    display: none;
}

